* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 10px;
}

h1 {
  margin-bottom: 20px;
}

.message-board {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message {
  border: 2px solid darkcyan;
  max-width: 300px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

label {
  display: grid;
  grid-template-columns: 85px 200px;
}
